# Entorno virtual
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Base de datos local (por si usas SQLite)
db.sqlite3

# Django
*.log
*.pot
local_settings.py
/staticfiles/
/static/
/media/

# Archivos de entorno (importante para .env)
.env
.env.local

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

ruta.env